@inject ICarroService CarroService
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable

<a href="carro" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetCarroItemsCount()</span>
</a>

@code {
    private int GetCarroItemsCount()
    {
        var conta = LocalStorage.GetItem<int>("carroItemsCount");
        return conta;
    }

    //suscribimonos ao evento por se hai cambios no carro
    protected override void OnInitialized()
    {
        CarroService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CarroService.OnChange -= StateHasChanged;
    }
}