@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-2">
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">Acerca de nós</a> *@
            <HomeButton />
            <Search />
            <UsuarioButton />
            <CarroCounter />
        </div>

        <div class="nav-menu">
            <TendaNavMenu />
        </div>

        <article class="content px-2">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>